/*----------  fonts  ----------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

:root{
  --primary: #0D6EFD;
  --textColor: #252525;
  --textWhite: #fff;
  --mainIcon_container-width: 200px;
  --navBgColor: #fff;
  --headerBgColor: #fff;
}



/*----------  estilos  ----------*/
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--textColor);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p, a{
  font-size: 15px;
}

/*---------- NOMARLIZE DE 1 SOL  ----------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  outline: none;
  font-family: 'Poppins', sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a:link {
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}
i {
  display: inline;
}
button{
  border: none;
}
.box{
  width: 100%;
  height: 100vh;
}
.fz-13{
  font-size: 13px;
}
.primary-color{
  color: var(--primary);
}
.danger-color{
  color: #F2393B;
}
.React-App{
  overflow: hidden;
}

/* general texto */
.txt-center{
  text-align: center;
}
.txt-end{
  text-align: end;
}
.txt-start{
  text-align: start;
}